body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#messages {
  height: 200px;
  border: 1px solid black;
  margin-bottom: 6px;
  overflow: scroll;
}

#message {
  width: 95%;
}